name: $(Year:yy)$(DayOfYear)$(Rev:.r)

variables:
  version: 1.0

steps:
- script: dotnet pack TcpMux/TcpMux.csproj -p:Version=$(version).$(Build.BuildNumber) -p:TargetFrameworks=netcoreapp2.1 -o $(Build.ArtifactStagingDirectory)
  displayName: 'Build package'

- task: PublishBuildArtifacts@1
